@model labb3.Models.Genra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="detailsrightcolumn">
        <h1 class="txt">Details</h1>

        <div class="card">

            <p>
                Artist Name:   @Model.Artist.Name
            </p>


            <p>
                Cd Name: @Model.Name
            </p>

            <p>
                Description  @Html.Raw(Model.Description)
            </p>

            <a asp-action="Edit" asp-route-id="@Model.Id" class="bttn">Edit</a>    <a asp-action="Delete" asp-route-id="@Model.Id" class="bttn">Delete</a> <a asp-action="Index" class="bttn">Back to List</a>
        </div>
    </div>

